<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dnsChangerConfiguration" type="DnsChanger.Config.DnsChangerConfiguration, DnsChanger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <dnsChangerConfiguration>
        <dnsServers>
            <add name="FoolDNS Community" 
                 args="f,fool,fooldns"
                 info="http://fooldns.com/" 
                 servers="87.118.111.215,81.174.67.134"/>
        </dnsServers>
    </dnsChangerConfiguration>
</configuration>